{{!-- {{#each entries}}
    <div>{{this}}<div>
{{/each}}

<p>{{fullData}}</p> --}}

<h1>{{title}}</h1>
<ul>
    <li>{{year}}</li>
    <li>{{rated}}</li>
    <li>{{released}}</li>
    <li>{{runtime}}</li>
    <li>{{director}}</li>
    <li>{{writers}}</li>
    <li>{{actors}}</li>
    <li>{{plot}}</li>
    <li>{{language}}</li>
    <li>{{country}}</li>
    <li>{{awards}}</li>
    <li><img src="{{poster}}"></li>
    <li>{{metascore}}</li>
    <li>{{imdbRating}}</li>
    <li>{{imdbVotes}}</li>
    <li>{{imdbID}}</li>
    <li>{{type}}</li>
    <li>{{DVD}}</li>
    <li>{{boxOffice}}</li>
    <li>{{production}}</li>
    <li>{{website}}</li>
    
</ul>