<div class="poster-container">
    <img src="{{poster}}" class="poster">
</div>
<h1>{{title}}</h1>
<ul>
    <li>Rated: {{rated}}</li>
    <li>Date Released: {{released}}</li>
    <li>Length: {{runtime}}</li>
    <li>Director: {{director}}</li>
    <li>Writers: {{writers}}</li>
    <li>Actors: {{actors}}</li>
    <li>Plot synopsis: {{plot}}</li>
    <li>Language: {{language}}</li>
    <li>Country filmed: {{country}}</li>
    <li>Awards: {{awards}}</li>
    <li>Metascore: {{metascore}}</li>
    <li>IMDB Rating: {{imdbRating}}</li>
    <li>IMDB Votes: {{imdbVotes}}</li>
    <li>IMDB ID: {{imdbID}}</li>
    <li>Media: {{type}}</li>
    <li>DVD Release Date: {{DVD}}</li>
    <li>Box Office Earnings: {{boxOffice}}</li>
    <li>Production Company: {{production}}</li>
    <li><a href="{{website}}" target="_blank">Website</a></li> 
</ul>

<a href="/">Back to Home</a>